@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg: #131313;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Kashima', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  background-color: var(--bg);
  color: #e3e3e3;
}

#root {
  min-height: 100vh;
  position: relative;
}

.contentContainer {
  padding-bottom: 165px;
}

ul, li {
  padding: 0;
  margin: 0;
}

a:link {
  color: #ccda54;
}

a:visited {
  color: #c5c5c5;
}

/* Header */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #060606;
}

#title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  margin-top: 35px;
  background: -webkit-linear-gradient(#969595, white, white);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Tabs */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#tablist {
  display: flex;
  list-style: none;
  cursor: default;
  background-color: #060606;
}

#tablist li {
  width: 100%;
  text-align: center;
  font-size: 0.95rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 0.1s ease;
}

#tablist li:active {
  background-color: #2e2e2e;
}

#tablist li:first-child {
  border-top-left-radius: 0;
}

#tablist li:last-child {
  border-top-right-radius: 0;
}

#current-tab {
  background-color: var(--bg);
}

#home, #menu, #about, #contact {
  padding: 25px;
}

.tab {
  cursor: pointer;
}

#tablist li button {
  border: none;
  background: none;
  width: 100%;
  color: #e3e3e3;
  font-family: 'Josefin Sans', serif;
  font-size: 1.5rem;
  padding: 10px 0;
}

#tablist li button:focus {
  outline: none;
  -webkit-appearance: none;
}

#tablist li button::-moz-focus-inner {
  border: 0;
}

#tablist li:focus-within {
  background-color: #2e2e2e;
}

#current-tab:focus-within {
  background-color: var(--bg) !important;
}

/* Home */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#home-message {
  font-family: 'Josefin Sans', serif;
  font-size: 2rem;
  width: 95%;
  text-align: justify;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

#home blockquote {
  text-align: center;
}

#home {
  text-align: center;
}

.citation {
  font-family: 'Tangerine', serif;
  font-weight: 700;
  font-size: 2.5rem;
}

#mug-div {
  display: inline-block;
  animation-name: wiggle;
  animation-play-state: running;
  animation-iteration-count: 2;
  animation-duration: 6s;
  animation-delay: 4s;
}

#view-menu {
  width: 200px;
  height: 60px;
  font-size: 2rem;
  font-weight: 300;
  border-radius: 5px;
  color: #e3e3e3;
  border: transparent;
  background: #131313;
  box-shadow: inset 1px 1px 10px black;
  transition: 0.2s;
  font-family: 'Josefin Sans';
}

#view-menu:hover {
  box-shadow: inset 1px 1px 20px black;
}

#view-menu:focus {
  border: 1px solid #252525;
}

#view-menu::-moz-focus-inner {
  border: 0;
}

#view-menu:active {
  font-size: 1.95rem;
  box-shadow: inset 1px 1px 30px black;
}

/* About */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.icon {
  width: 60px;
  display: block;
  margin: 0 auto;
}

/* Contact */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#contact h3 {
  width: 80vw;
  font-weight: 400;
  margin: 0 auto;
}

#contact-form {
  margin-top: 20px;
}

.form-element {
  display: block;
  text-align: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 80vw;
  transition: 0.2s ease;
}

.form-element input, .form-element textarea {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: none;
  border: 3px solid #e3e3e3;
  padding: 10px 5px;
  color: #e3e3e3;
  font-size: 1.5rem;
}

.form-element textarea {
  height: 100px;
  resize: vertical;
}

.form-element label {
  position: absolute;
  background-color: var(--bg);
  font-size: 1.3rem;
  top: -4px;
  left: 16px;
  padding: 0 5px;
}

.form-element:focus-within {
  outline: none;
  box-shadow: 0 0 20px black;
  transform: scale(1.01);
}

#submit {
  display: block;
  margin: 0 auto;
  width: 129px;
  height: 47px;
  background-color: transparent;
  padding: 0;
  color: #e3e3e3;
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  border: 3px solid #e3e3e3;
  border-radius: 10px;
  line-height: 46px;
  transition: 0.2s ease;
  cursor: pointer;
}

#submit:hover, #submit:focus {
  outline: none;
  background-color: #e3e3e3;
  color: var(--bg);
}

#submit::-moz-focus-inner {
  border: 0;
}

#submit:active {
  transform: scale(0.97);
}

#contact-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style: none;
  margin-top: 50px;
}

#contact-list li {
    align-items: center;
    display: flex;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 15px;
}

#contact-list li span {
  margin-left: 10px;
}

#location-img, #phone-img {
  width: 30px;
}

/* Footer */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 145px;
  background-color: #060606;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  align-content: center;
}

footer ul {
  margin-left: 20px;
  align-items: center;
}

footer ul li {
  display: block;
  margin-right: 10px;
}

footer ul li button {
  color: #b0b0b0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: 'Open Sans', serif;
  font-size: 1.3rem;
}

footer ul li button:hover {
  color: white;
}

.createdby {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.createdby span {
  font-family: 'Open Sans', serif;
  font-size: 1.3rem;
  margin-right: 15px;
}

#github-logo {
  width: 25px;
  cursor: pointer;
}

#github-logo:hover {
  animation-name: wiggle;
  animation-duration: 4s;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg)
  }
  1% {
    transform: rotate(15deg)
  }
  2% {
    transform: rotate(0deg)
  }
  3% {
    transform: rotate(-15deg)
  }
  4%, 100% {
    transform: rotate(0deg)
  }
}

/* Media Queries */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


@media (min-width: 768px) {
  .contentContainer {
    padding-bottom: 75px;
  }
  /* Tabs */
  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  #tablist li button {
    font-size: 1.8rem;
    margin: 10px 0;
  }
  #tablist li:hover {
    background-color: #202020;
    transition: 0.2s ease;
  }
  #home, #menu, #about, #contact {
    position: relative;
    z-index: 2;
    background-color: var(--bg);
  }
  #current-tab {
    box-shadow: 0px 5px 10px black;
    z-index: 1;
  }
  #current-tab:hover {
    background-color: var(--bg) !important;
  }
  /* Home */
  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  #home blockquote {
    width: 400px;
    margin: 0 auto;
  }
  #home-message {
    width: 45%;
  }
  /* Home */
  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  #about {
    font-size: 1.9rem;
  }
  #about p:first-of-type {
    width: 69%;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
  }

  #about blockquote {
    font-weight: 300;
    margin-bottom: 50px;
  }
  /* Contact */
  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  #contact h3 {
    width: 50vw;
  }
  .form-element {
    width: 50vw;
  }
  #submit:hover {
    background-color: #e3e3e3;
    color: var(--bg);
  }
  #submit:active {
    transform: scale(0.97);
  }

  #contact-list {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  /* Footer */
  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  footer {
    height: 54px;
  }
  footer ul li {
    display: inline-block;
  }
}