@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Kashima', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  background-color: #131313;
  color: #e3e3e3;
}

#root {
  min-height: 100vh;
  position: relative;
}

.contentContainer {
  padding-bottom: 145px;
}

ul, li {
  padding: 0;
  margin: 0;
}

/* Header */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #060606;
}

#mug-div {
  display: inline-block;
  margin-left: -95px;
  margin-right: 10px;
}

#title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  margin-top: 35px;
  background: -webkit-linear-gradient(#969595, white, white);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Tabs */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#tablist {
  display: flex;
  list-style: none;
  cursor: default;
  background-color: #060606;
}

#tablist li {
  width: 100%;
  text-align: center;
  font-size: 0.95rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 0.1s ease;
}

#tablist li:active{
  background-color: #2e2e2e;
}


#tablist li:first-child {
  border-top-left-radius: 0;
}

#tablist li:last-child {
  border-top-right-radius: 0;
}

#current-tab {
  background-color: #131313;
}

#home, #menu, #about, #contact {
  padding: 25px;
}

.tab {
  cursor: pointer;
}

/* Home */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#home-message {
  font-family: 'Josefin Sans', serif;
  font-size: 2rem;
  width: 95%;
  text-align: justify;
  margin: 0 auto;
  margin-top: 50px;
}

#home blockquote {
  text-align: center;
}

#teabanner {
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(19, 19, 19) 100%), 
  
  linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(19, 19, 19) 100%), 
  
  linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(19, 19, 19) 100%), 
  
  linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(19, 19, 19) 100%),
  
  url(../images/slideshow/1tea.jpg), no-repeat; */

  background: url(../images/slideshow/1tea_feathered.png);

  height: 0;
  padding-top: 28.125%;
  background-size: 100%;
}

#teacup-leaf {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.citation {
  font-family: 'Tangerine', serif;
  font-weight: 700;
  font-size: 2.5rem;
}

/* About */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#organic {
  /* width: 60px; */
  display: block;
  margin: 0 auto;
}

/* Footer */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 145px;
  background-color: #060606;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  align-content: center;
}

footer ul {
  margin-left: 20px;
  align-items: center;
}

footer ul li {
  display: block;
  margin-right: 10px;
}

footer ul li span {
  color: #b0b0b0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 0;
  font-family: 'Open Sans', serif;
  font-size: 1.3rem;
}

footer ul li span:hover {
  color: white;
}
.createdby {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.createdby span {
  font-family: 'Open Sans', serif;
  font-size: 1.3rem;
}

#github-logo {
  width: 25px;
  margin-left: 15px;
  cursor: pointer;
}
#github-logo:hover {
  animation-name: wiggle;
  animation-duration: 0.2s;
}

@keyframes wiggle{
  0% {transform: rotate(0deg)}
  25% {transform: rotate(15deg)}
  50% {transform: rotate(0deg)}
  75% {transform: rotate(-15deg)}
  100% {transform: rotate(0deg)}
}



/* Media Queries */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media (max-width: 400px) {
  #mug-div {
    margin-left: -30px;
  }
}

@media (min-width: 768px) {

  .contentContainer {
    padding-bottom: 54px;
  }

  /* Tabs */

  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

  #tablist li {
    font-size: 1.2rem;
  }

  #tablist li:hover {
    background-color: #202020;
    transition: 0.2s ease;
  }
  #home, #menu, #about, #contact {
    position: relative;
    z-index: 2;
    background-color: #131313;
  }
  #current-tab {
    box-shadow: 0px 5px 10px black;
    z-index: 1;
  }
  #current-tab:hover {
    background-color: #131313 !important;
  }

  /* Home */

  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

  #home blockquote {
    width: 400px;
    margin: 0 auto;
  }

  #home-message {
    width: 45%;
  }

  #teacup-leaf {
    width: 200px;
  }

  /* Footer */

  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

  footer {
    height: 54px;
  }

  footer ul li {
    display: inline-block;
  }

}